In [ ]:
import numpy as np
import pandas as pd
data=[1,2,3]
series=pd.Series(data,index=['a','b','c'])
print(series)

In [8]:
data={
    'Name':['Suket','Sangram'],
    'Age':[19,23],
    'City':['Mysuru','Bangalore']
}
df=pd.DataFrame(data)
print(df.tail(1))

       Name  Age       City
1  Somakshi   23  Bangalore